@font-face {
	font-family: 'Archivo Black';
	src: url('assets/fonts/Archivo\ Black.woff2') format('woff2');
}

@font-face {
	font-family: 'JetBrainsMono';
	src: url('assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'BebasNeue';
	src: url('assets/fonts/BebasNeue.woff') format('woff');
}

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
}

body {
	background-color: white;
}
a:link,
a:visited,
a:active {
	color: black;
	text-decoration: none;
}

a:hover {
	color: white;
	background-color: black;
}

.portfolio,
.heading-box {
	display: flex;
	justify-content: flex-start;
}

.portfolio {
	flex-direction: column;
}

.heading-box {
	align-items: baseline;
}

.body {
	display: flex;
	flex-direction: column;
}

.frame {
	display: flex;
}

.poster {
	padding: 2vh 7px;
	height: auto;
	width: min(50vw, 70vh);
	outline: min(0.2vw, 0.3vh) solid black;
}

.poster-info {
	padding-left: min(1vw,1vh);
	display: flex;
	flex-direction: column;
}

.poster-heading,
.option {
	font-family: 'BebasNeue';
	color: white;
	margin: 0px;
	margin-top: min(4vh, 2vw);
	padding: 1vw 1vh;
	font-size: 5vw;
	justify-self: flex-start;
	align-self: flex-start;
	background-color: black;
}

.poster-desc {
	font-family: 'JetBrainsMono';
	font-size: 2.5vw;
	padding: 0px;
	padding-top: 1.5vh;
	margin: 0px;
}

.software-used {
	font-family: 'JetBrainsMono';
	font-size: min(2vw, 2vh);
	font-weight: bold;
	color: blue;
	background-color: yellow;
	text-align: center;
	align-self: flex-start;
	padding: 1vw 1vh;
}

.poster-line {
	height: 1px;
}

.option {
	font-size: min(15vh, 100vw);
	background-color: white;
}

#heading,
#dot {
	font-family: 'Archivo Black';
	font-size: min(12vw, 10vh);
	margin: 0px;
	padding-left: 5px;
}

#dot {
	padding: 0;
}

#heading-line,
.poster-line {
	width: 100%;
	height: max(0.2vh, 0.3vw);
	margin: 0px;
	border: 0px;
	background-color: black;
}

#heading-line {
	height: min(1vh, 1vw);
}
