@font-face {
	font-family: 'Archivo Black';
	src: url('assets/fonts/Archivo\ Black.woff2') format('woff2');
}

@font-face {
	font-family: 'JetBrainsMono';
	src: url('assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'BebasNeue';
	src: url('assets/fonts/BebasNeue.woff') format('woff');
}

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	color: white;
}

body {
	background-color: black;
}
a:link,
a:visited,
a:active {
	color: white;
	text-decoration: none;
}

.portfolio,
.heading-box {
	display: flex;
	justify-content: flex-start;
}

.portfolio {
	flex-direction: column;
}

.heading-box {
	align-items: baseline;
}

.body {
	display: flex;
	flex-direction: column;
}

.frame {
	display: flex;
}

.poster {
	padding: 2vh 7px;
	height: auto;
	width: 50vw;
}

.poster-info {
	display: flex;
	flex-direction: column;
}

.poster-heading {
	font-family: 'BebasNeue';
	margin: 0px;
	margin-top: 1.5vh;
	padding: 0px;
	font-size: 5vw;
	justify-self: flex-start;
}

.poster-desc {
	font-family: 'JetBrainsMono';
	font-size: 2.5vw;
	padding: 0px;
	padding-top: 1.5vh;
	margin: 0px;
}

.poster-line {
	height: 1px;
}

#heading {
	font-family: 'Archivo Black';
	font-size: 12vw;
	margin: 0px;
	padding-left: 5px;
}

#heading-line,
.poster-line {
	width: 100%;
	margin: 0px;
	border: 0px;
	background-color: white;
}

#heading-line {
	height: 5px;
}

