body {
	font-family: "Noto Sans Math";

	background-color: #000;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 75vh;
	min-height: 500px;
	padding: 10px;
	margin-top: 80px;
}

#calculator {
	width: 400px;
	padding: 20px;
	margin: 0;
}

#currentScreen {
	height: 15vh;
}
#prevScreen {
	height: 5vh;
}
#AC {
	letter-spacing: -3px;
}
.row {
	flex: auto;
	display: flex;
}

.button {
	flex: 1 1 2rem;
	padding: 6%;
	margin: 1%;
	border-radius: 45%;
	border: 0px solid;

	font-size: 2em;
	background-color: #141414;
	color: #E1E1E1;
}
.button:focus {
	background-color: #353535;
}
.borderButtons {
	background-color: #0F1726;
	color: #3C71FC;
}
.borderButtons:focus {
	background-color: #0F1750;
}
.equal {
	background-color: #3661FF;
	color: #FFFFFF;
	
	font-size: 2.5em;
	line-height: 0.2;
}
.equal:focus {
	background-color: #3C11FC;
}
