.noto-sans-math-regular {
  font-family: "Noto Sans Math", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
	background-color: #000;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 80vh;
	max-height: 80vh;

	padding: 10px;
	margin-top: 10vh;

	margin: auto;
	min-width: 500px;
	max-width: 500px;

}

#calculator {
	min-width: 80%;
	max-width: 80%;
	padding: 20px;
	margin-top: 10vh;
}

#currentScreen {
	display: flex;
	height: 15vh;
	text-align:right;
	justify-content: flex-end;
	align-items: flex-end;
	color: #FFF;
	padding: 10px;
	font-size: 2em;

	overflow: auto;
}

#outScreen {
	display: flex;
	height: 5vh;
	text-align: right;
}

#AC {
	letter-spacing: -3px;
}

.row {
	flex: auto;
	display: flex;
}

.button {
	flex: 1 1 0;
	padding: 2vh;
	margin: 1%;
	border-radius: 45%;
	border: 0px solid;

	font-size: 2em;
	background-color: #141414;
	color: #E1E1E1;
}
.button:focus {
	background-color: #353535;
}
.borderButtons {
	background-color: #0F1726;
	color: #3C71FC;
}
.borderButtons:focus {
	background-color: #0F1750;
}

.number,
.symbol {
	font-size: 2rem;
	flex: 0 1 1;
}

.symbol {
	padding: 0px 5px;
	color: #3C71FC;
	font-size: 2.2rem;
}
.equal {
	background-color: #3661FF;
	color: #FFFFFF;
	
	font-size: 2.5em;
	line-height: 0.2;
}
.equal:focus {
	background-color: #3C11FC;
}
